

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}
.nav_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav_section .logo{
    display: flex;
    align-items: center;
}
.nav_section .logo h2{
    font-weight: bold;
    font-size: 2rem;
    color:black;
    line-height: 2rem;
    margin-left: 11px;
}
.nav_section .menu ul{
    display: flex;
    align-items: center;
}
.nav_section .menu ul li{
    list-style-type: none;
}
.nav_section .menu ul li a{
    text-decoration: none;
    margin:0 16px;

}
.nav_section .menu ul .item1 a{
    color: orange;
    font-weight: bold;
    font-size: 1.25rem;
}
.nav_section .menu ul .item2 a{
    color: skyblue;
    font-weight: bold;
    font-size: 1.25rem;
}
.nav_section .menu ul .item3 a{
    color: #05D4DF;
    font-weight: bold;
    font-size: 1.25rem;
}
.nav_section .menu ul .item4 a{
    color: #5D58EF;
    font-weight: bold;
    font-size: 1.25rem;
}
.nav_section .btn button{
    color:#FFFFFF;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: orange;
    border-radius: 12px;
    border:none;
    padding: 10px 60px;
    transition: 0.5s;
}
.nav_section .btn button:hover{
    background-color: #FFFFFF;
    border:1px solid orange;
    color:orange;
}

                /*nav section stop*/

                /*banner section start*/

.banner_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 60px;
}

.banner_section .text h1{
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 3.81rem;
    color:black;
}
.banner_section .text h1 .spn1{
    color:orange;
}
.banner_section .text h1 .spn2{
    color:skyblue;
}
.banner_section .text p{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: auto;
    color:black;
    margin: 24px 0;
}
.banner_section .text button{
    color:#FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.875rem;
    background-color: black;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    transition: 0.5s;
}
.banner_section .text button:hover{
    background-color:#FFFFFF;
    color: black;
    border: 1px solid black;
}
.banner_section .img{
    margin-left: 50px;
}


                /*banner section stop*/

                /*Standard Curriculum section start*/

.curriculum_section .cart_item{
    display: flex;
    justify-content: space-between;
    margin:80px 0;
    
}
.main_section .curriculum_section h2{
    color:#000000;
    font-weight: bold;
    font-size: 2.875rem;
    text-align: center;
}
.main_section {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main_section .curriculum_section .cart_item .cart1{
    background:linear-gradient(#DEF5FF, #FFFFFF,#FFFFFF, #FFFFFF,#FFFFFF );
    border: 0.94px solid #DEF5FF;
    border-radius: 18px;
    padding-top: 53px;
    padding-bottom: 53px;
    text-align: center;
}
.main_section .curriculum_section .cart_item .cart1 h3{
    font-weight: bold;
    font-size: 1.53rem;
    line-height: 1.92rem;
    color:#202020;
    margin-top: 32px;
    margin-bottom: 32px;
}
.main_section .curriculum_section .cart_item .cart1 p{
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #808080;
    margin-bottom: 32px;
    
}
.main_section .curriculum_section .cart_item .cart1 button{
    font-weight: bold;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #64C8FF;
    border: none;
    background:none;
    transition: 0.5s;
}
.main_section .curriculum_section .cart_item .cart1 button:hover{
    
    background-color: #64C8FF;
    color:white;
    padding:8px 20px;
    border-radius: 8px;
}
.main_section .curriculum_section .cart_item .cart2{
    background:linear-gradient(#FFF4DC, #FFFFFF,#FFFFFF, #FFFFFF,#FFFFFF );
    border: 0.94px solid #FFF4DC;
    border-radius: 18px;
    padding-top: 53px;
    padding-bottom: 53px;
    text-align: center;
    margin:0 28px;
}
.main_section .curriculum_section .cart_item .cart2 h3{
    font-weight: bold;
    font-size: 1.53rem;
    line-height: 1.92rem;
    color:#202020;
    margin-top: 32px;
    margin-bottom: 32px;
}
.main_section .curriculum_section .cart_item .cart2 p{
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #808080;
    margin-bottom: 32px;
}
.main_section .curriculum_section .cart_item .cart2 button{
    font-weight: bold;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #F0AA00;
    border: none;
    background:none;
    transition: 0.5s;
}
.main_section .curriculum_section .cart_item .cart2 button:hover{
    
    background-color: #F0AA00;
    color:white;
    padding:8px 20px;
    border-radius: 8px;
}
.main_section .curriculum_section .cart_item .cart3{
    background:linear-gradient(#F2E8FF, #FFFFFF,#FFFFFF, #FFFFFF,#FFFFFF );
    border: 0.94px solid #F2E8FF;
    border-radius: 18px;
    padding-top: 53px;
    padding-bottom: 53px;
    text-align: center;
    
}
.main_section .curriculum_section .cart_item .cart3 h3{
    font-weight: bold;
    font-size: 1.53rem;
    line-height: 1.92rem;
    color:#202020;
    margin-top: 32px;
    margin-bottom: 32px;
}
.main_section .curriculum_section .cart_item .cart3 p{
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #808080;
    margin-bottom: 32px;
}
.main_section .curriculum_section .cart_item .cart3 button{
    font-weight: bold;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #8700FF;
    border: none;
    background:none;
    transition: 0.5s;
}
.main_section .curriculum_section .cart_item .cart3 button:hover{
    
    background-color:#8700FF;
    color:white;
    padding:8px 20px;
    border-radius: 8px;
}
.main_section .curriculum_section .icon i{
    background-color: orange;
    padding:17px;
    border-radius: 50%;
    text-align: center;
    color:white;
}
.main_section .curriculum_section .icon{
    text-align: center;
    padding-bottom: 60px;
}