

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}
.nav_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.nav_section .logo{
    display: flex;
    align-items: center;
}
.nav_section .logo h2{
    font-weight: bold;
    font-size: 2rem;
    color:black;
    line-height: 2rem;
    margin-left: 11px;
}
.nav_section .menu ul{
    display: flex;
    align-items: center;
}
.nav_section .menu ul li{
    list-style-type: none;
}
.nav_section .menu ul li a{
    text-decoration: none;
    margin:0 16px;

}
.nav_section .menu ul .item1 a{
    color: orange;
    font-weight: bold;
    font-size: 1.25rem;
}
.nav_section .menu ul .item2 a{
    color: skyblue;
    font-weight: bold;
    font-size: 1.25rem;
}
.nav_section .menu ul .item3 a{
    color: #05D4DF;
    font-weight: bold;
    font-size: 1.25rem;
}
.nav_section .menu ul .item4 a{
    color: #5D58EF;
    font-weight: bold;
    font-size: 1.25rem;
}
.nav_section .btn button{
    color:#FFFFFF;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: orange;
    border-radius: 12px;
    border:none;
    padding: 10px 60px;
    transition: 0.5s;
}
.nav_section .btn button:hover{
    background-color: #FFFFFF;
    border:1px solid orange;
    color:orange;
}
.nav_section .menu_icon{
    display:none;
}
@media screen and (max-width:576px) {
    .menu, .btn{
        display: none;
    }
    .container{
       width: 576px;
       margin: 0;
       padding:0;

    }
    
    .nav_section .menu_icon{
        display: block;
        margin-right: 0;
    }
    .nav_section{
        padding:12px 16px;
        border-bottom: 2px solid orange;
        
        
    }
}


                /*nav section stop*/

                /*banner section start*/

.banner_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 60px;
    
}
.banner_section .text{
    margin-right: 50px;
    width: 100%;
    
}
.banner_section .text h1{
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 3.81rem;
    color:black;
}
.banner_section .text h1 .spn1{
    color:orange;
}
.banner_section .text h1 .spn2{
    color:skyblue;
}
.banner_section .text p{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: auto;
    color:black;
    margin: 24px 0;
}
.banner_section .text button{
    color:#FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.875rem;
    background-color: black;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    transition: 0.5s;
}
.banner_section .text button:hover{
    background-color:#FFFFFF;
    color: black;
    border: 1px solid black;
}
.banner_section .img img{
    
    width: 100%;

}

@media screen and (max-width:576px) {
    .banner_section{
        flex-direction: column-reverse;
    }
    .banner_section .img{
        margin-left: 0;
        width: 100%;
    }
    .banner_section .text{
        text-align: center;
        padding-left: 20px;
    }
  
}

                /*banner section stop*/

                /*Standard Curriculum section start*/

.curriculum_section .cart_item{
    display: flex;
    justify-content: space-between;
    margin:80px 0;
    
}
.main_section .curriculum_section h2{
    color:#000000;
    font-weight: bold;
    font-size: 2.875rem;
    text-align: center;
}
.main_section {
    background: linear-gradient(#FFFFFF, #fea101);
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.main_section .curriculum_section .cart_item .cart1{
    background:linear-gradient(#DEF5FF, #FFFFFF,#FFFFFF, #FFFFFF,#FFFFFF );
    border: 0.94px solid #DEF5FF;
    border-radius: 18px;
    padding-top: 53px;
    padding-bottom: 53px;
    text-align: center;
}
.main_section .curriculum_section .cart_item .cart1 h3{
    font-weight: bold;
    font-size: 1.53rem;
    line-height: 1.92rem;
    color:#202020;
    margin-top: 32px;
    margin-bottom: 32px;
}
.main_section .curriculum_section .cart_item .cart1 p{
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #808080;
    margin-bottom: 32px;
    
}
.main_section .curriculum_section .cart_item .cart1 button{
    font-weight: bold;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #64C8FF;
    border: none;
    background:none;
    transition: 0.5s;
}
.main_section .curriculum_section .cart_item .cart1 button:hover{
    
    background-color: #64C8FF;
    color:white;
    padding:8px 20px;
    border-radius: 8px;
}
.main_section .curriculum_section .cart_item .cart2{
    background:linear-gradient(#FFF4DC, #FFFFFF,#FFFFFF, #FFFFFF,#FFFFFF );
    border: 0.94px solid #FFF4DC;
    border-radius: 18px;
    padding-top: 53px;
    padding-bottom: 53px;
    text-align: center;
    margin:0 28px;
}
.main_section .curriculum_section .cart_item .cart2 h3{
    font-weight: bold;
    font-size: 1.53rem;
    line-height: 1.92rem;
    color:#202020;
    margin-top: 32px;
    margin-bottom: 32px;
}
.main_section .curriculum_section .cart_item .cart2 p{
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #808080;
    margin-bottom: 32px;
}
.main_section .curriculum_section .cart_item .cart2 button{
    font-weight: bold;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #F0AA00;
    border: none;
    background:none;
    transition: 0.5s;
}
.main_section .curriculum_section .cart_item .cart2 button:hover{
    
    background-color: #F0AA00;
    color:white;
    padding:8px 20px;
    border-radius: 8px;
}
.main_section .curriculum_section .cart_item .cart3{
    background:linear-gradient(#F2E8FF, #FFFFFF,#FFFFFF, #FFFFFF,#FFFFFF );
    border: 0.94px solid #F2E8FF;
    border-radius: 18px;
    padding-top: 53px;
    padding-bottom: 53px;
    text-align: center;
    
}
.main_section .curriculum_section .cart_item .cart3 h3{
    font-weight: bold;
    font-size: 1.53rem;
    line-height: 1.92rem;
    color:#202020;
    margin-top: 32px;
    margin-bottom: 32px;
}
.main_section .curriculum_section .cart_item .cart3 p{
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #808080;
    margin-bottom: 32px;
}
.main_section .curriculum_section .cart_item .cart3 button{
    font-weight: bold;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #8700FF;
    border: none;
    background:none;
    transition: 0.5s;
}
.main_section .curriculum_section .cart_item .cart3 button:hover{
    
    background-color:#8700FF;
    color:white;
    padding:8px 20px;
    border-radius: 8px;
}
.main_section .curriculum_section .icon i{
    background-color: orange;
    padding:17px;
    border-radius: 50%;
    text-align: center;
    color:white;
}
.main_section .curriculum_section .icon{
    text-align: center;
    padding-bottom: 60px;
}
@media screen and (max-width:576px) {
    .main_section .curriculum_section .icon{
        display: none;
    }
    .main_section .curriculum_section h2{
        font-size: 1.625rem;
    }
    .main_section .curriculum_section .cart_item{
        display: inline;
    }
    .main_section .curriculum_section .cart_item .cart2, .cart1, .cart3{
        margin:12px 15px;
    }
}
                /*Standard Curriculum section stop*/
                
                /*our stories section start*/
.stories{
    background: linear-gradient( #FFFFFF ,  rgba(254, 163, 1, 0.3));
    
}
.stories_section{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 80px;
}
.stories_container .cart_items{
    display: flex;
}
.stories_container .item_2nd{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
}

.stories_section h2{
    color:#000000;
    font-weight: bold;
    font-size: 2.875rem;
    text-align: center;
    line-height: 2.9375rem;
    margin-bottom: 80px;
}
.stories_section .cart_items .items1 img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    

    
}
.stories_section .cart_items .items1{
    position: relative;
    border-radius: 16px;
    background-color: #FFFFFF;
    margin-right: 19px;
    width: 550px;
    

}
.stories_section .cart_items .items1 button {
    border: none;
    background-color: #3CD8E8;
    padding: 15px 20px;
    border-radius: 47px;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    position: absolute;
    left:35px;
    top:314px;
}
.stories_section .cart_items .items1 h3{
    color:#000000;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.375rem;
    margin:58px 38px;

}
.stories_section .cart_items .items1 p{
    color:#666666;
    line-height: 1.75rem;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 34px;
    margin-left: 38px;
    margin-right: 38px;
}
.items2{
    position: relative;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.stories_section .cart_items .item_2nd .items2 img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 38px;
    width: 100%;
}
.stories_section .cart_items .item_2nd .items2 button{
    background-color: #95B226;
    border-radius: 47px;
    border:none;
    padding: 10px 19px;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    position:absolute;
    top:157px;
    left:38px;
}
.stories_section .cart_items .item_2nd .items2 h3{
    color:#000000;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-left: 38px;
    margin-right: 38px;
    margin-bottom: 28px;    
}




.items3{
    position: relative;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.stories_section .cart_items .item_2nd .items3 img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 38px;
    width: 100%;
}
.stories_section .cart_items .item_2nd .items3 button{
    background-color: #5D58F0;
    border-radius: 47px;
    border:none;
    padding: 10px 19px;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    position:absolute;
    top:157px;
    left:38px;
}
.stories_section .cart_items .item_2nd .items3 h3{
    color:#000000;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-left: 38px;
    margin-right: 38px;
    margin-bottom: 28px;    
}



.items4{
    position: relative;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.stories_section .cart_items .item_2nd .items4 img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 38px;
    width: 100%;
    
}
.stories_section .cart_items .item_2nd .items4 button{
    background-color: #95B226;
    border-radius: 47px;
    border:none;
    padding: 10px 19px;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    position:absolute;
    top:157px;
    left:38px;
}
.stories_section .cart_items .item_2nd .items4 h3{
    color:#000000;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-left: 38px;
    margin-right: 38px;
    margin-bottom: 28px;    
}



.items5{
    position: relative;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.stories_section .cart_items .item_2nd .items5 img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 38px;
    width: 100%;
    
    
}
.stories_section .cart_items .item_2nd .items5 button{
    background-color: #95B226;
    border-radius: 47px;
    border:none;
    padding: 10px 19px;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    position:absolute;
    top:157px;
    left:38px;
}
.stories_section .cart_items .item_2nd .items5 h3{
    color:#000000;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-left: 38px;
    margin-right: 38px;
    margin-bottom: 28px;    
}
.stories .stories_section .stories_container .view_btn{
    text-align: center;
}
.stories .stories_section .stories_container .view_btn button{
    background-color: black;
    border-radius: 12px;
    padding: 10px 60px;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 1.30rem;
    margin-top: 80px;
    

}
@media screen and (max-width:576px){
    .stories_section .cart_items .items1{
        display: none;
    }
    .stories_container .item_2nd{
        padding-right: 10px;
        padding-left: 10px;
        grid-template-columns: repeat(2, 1fr);
   
    }
    .stories_section .cart_items .item_2nd .items2 button, .stories_section .cart_items .item_2nd .items5 button, .stories_section .cart_items .item_2nd .items4 button, .stories_section .cart_items .item_2nd .items3 button{
        top:145px;
        left:22px;
    }
}

             /*our stories section stop*/
